body {
    position: relative;
    min-height: 100%
}

img {
    margin: 0;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 5;
}

.container {
    min-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: #79E0EE;
    font-size: 100px;
    font-weight: 400;
    font-family: "Russo One";
}

.update1 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px rgb(161, 81, 199);
}

a {
    display: block;
}

.cursedsouls {
    margin: 0 10px 10px 27px;
    color: #D4ADFC;
    font-size: 70px;
    font-weight: 800;
    font-family: "UnifrakturCook";
}

.flexbot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr)
}

.update2 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px rgb(80, 136, 199);
}

.SpaceVision {
    margin: 0 10px 10px 27px;
    color: #79E0EE;
    font-size: 70px;
    font-weight: 800;
    font-family: "UnifrakturCook";
}

.update3 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px rgb(255, 166, 0);
}

.fireborn {
    margin: 0 10px 10px 87px;
    color: #ff6701;
    font-size: 70px;
    font-weight: 800;
    font-family: "UnifrakturCook";
}

.update4 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px rgb(0, 225, 255);
}

.HotWinterParty {
    margin: 0px 10px 10px 27px;
    color: #d400ff;
    font-size: 55px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.ProjectPandora {
    margin: 0px 10px 10px 27px;
    color: #0bec1a;
    font-size: 55px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.update5 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px rgb(9, 255, 0);
}

.update6 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px rgb(255, 230, 0);
}

.legends {
    margin: 0px 10px 10px 87px;
    color: #ece80b;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.update7 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px #04b0ff;
}

.years5 {
    margin: 0px 10px 10px 87px;
    color: #04b0ff;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.winterfun {
    margin: 0px 10px 10px 67px;
    color: #ececec;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.update8 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px #f52d2d;
}

.dragonrise {
    margin: 0px 10px 10px 37px;
    color: #ffffff;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.update9 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px #ff0095;
}

.littlehelper {
    margin: 0px 10px 10px 57px;
    color: #6aaee6;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.update10 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px #c1fafa;
}

.update11 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px black;
}

.halloween {
    margin: 0px 10px 10px 67px;
    color: #00ffff;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.update12 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px #c7b301;
}

.revival {
    margin: 0px 10px 10px 97px;
    color: #fff59c;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}

.update13 img {
    display: block;
    margin: 90px 10px 10px 10px;
    border-radius: 35px;
    width: 400px;
    height: 200px;
    box-shadow: 0px 10px 100px 40px #ffffff;
}

.projectz9 {
    margin: 0px 10px 10px 67px;
    color: #ff9900;
    font-size: 70px;
    font-weight: 900;
    font-family: "UnifrakturCook";
}